/*
============================================
; Title:  site.css
; Author: Joshua Hughes
; Date:   10 July 2019
; Description: Global styling for week's 7 through 9
;===========================================
*/

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  background-color: steelblue;
  color: white;
}

tr:nth-child(even) {
  background-color: lightsteelblue;
}

nav {
  background-color: aquamarine;
}

table[title='fruits'], p[title='paragraph']{
  margin-left: 20px;
  margin-top: 20px;
}

body{
  font-family: 'Roboto', sans-serif;
}
